/* import fonts and reset default styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
@import url("base.css");


.container {
    width: 1300px;
    margin: 0 auto;
}

.header {
    padding-top: 150px;
}

.header h1 {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 150px;
}

.header a {
    color: #0C6CC5;
}

.search-form__inputs {
    display: flex;
    flex-direction: column;
    width: 640px;
    margin: 0 auto;
    height: 473px;
    justify-content: space-between;
}

.search-form__input {
    padding-left: 25px;
    height: 89px;
    border: 2px solid #000000;  
    outline: none; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;     
}

.search-form__button {
    height: 89px;
    background: #FFB935;  
    border: none;  
    cursor: pointer;
}

.search-form__button p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;    
}

.search-form__select {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;   
    padding-left: 25px;
    height: 89px;
    background: none;
    border: 2px solid #000000;  
    cursor: pointer;
    -webkit-appearance: none;
}

.footer {
    padding-top: 150px;
    padding-bottom: 150px;
}

.footer h1 {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;    
}

.footer p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 20px;   
}

.footer a {
    color: #0C6CC5;
}

.footer h2 {
    padding-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center; 
}

@media screen and (max-width: 1350px) {
    .container {
        width: 910px;
    }
    .search-form__inputs {
        width: 500px;
    }
    .header h1 {
        font-size: 40px;
        margin-bottom: 150px;
    }
}

@media screen and (max-width: 960px) {
    .container {
        width: 710px;
    }
    .search-form__inputs {
        width: 400px;
    }
    .header {
        padding-top: 120px;
    }
    .header h1 {
        margin-bottom: 120px;
        font-size: 36px;
    }
    .search-form__input {
        font-size: 20px;
    }
    .search-form__select {
        font-size: 20px;
    }
    .footer h1 {
        font-size: 34px;
    }
    .footer p {
        font-size: 28px;
    }
    .footer h2 {
        font-size: 30px;
    }
    .search-form__button P {
        font-size: 34px;        
    }
}

@media screen and (max-width: 750px) {
    .header {
        padding-top: 80px;
    }
    .header h1 {
        margin-bottom: 80px;
        font-size: 36px;
    }
    .container {
        width: 350px;
    }
    .search-form__inputs {
        width: 350px;
        height: 420px;
    }
    .footer {
        padding-top: 100px;
    }
    .footer h1 {
        font-size: 32px;
    }
    .footer p {
        font-size: 26px;
    }
    .footer h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 370px) {
    .container {
        width: 320px;
    }
    .header h1 {
        margin-bottom: 80px;
        font-size: 34px;
    }
    .search-form__inputs {
        width: 320px;
        height: 350px;
    }
    .search-form__input {
        padding-left: 15px;
        height: 70px;
    }
    .search-form__select {
        padding-left: 15px;
        height: 70px;
    }
    .search-form__button {
        height: 70px;
    }
    .footer h1 {
        font-size: 30px;
    }
    .footer p {
        font-size: 24px;
    }
    .footer h2 {
        font-size: 28px;
    }
}